.git/.MERGE_MSG*
.git/MERGE_MSG
.DS_Store
*/.DS_Store
UnityGame/Workspace
UnityGame/Res
UnityGame/www
UnityGame/obj*
UnityGame/Library
UnityGame/www
UnityGame/res
UnityGame/Library*
UnityGame/Temp*
UnityGame/UnityGame.CSharp.Editor.csproj
UnityGame/UnityGame.CSharp.csproj
UnityGame/UnityGame.sln
UnityGame/UnityGame.userprefs
UnityGame/*.csproj
UnityGame/*.sln
UnityGame/*.userprefs
UnityGame/ProjectSettings
